.navbar__container {
  display: flex;
  justify-content: space-between;
  height: 100px;
  align-items: center;
  padding: 2.5rem 0;
}

.navbar__links {
  display: flex;
  align-items: center;
  gap: var(--navbar-items-gap);
  list-style: none;
}

.navbar__toggle-icon {
  display: none;
  background-color: transparent;
  cursor: pointer;
  border: none;
}

.navbar__mobile-wrapper {
  display: flex;
  gap: var(--navbar-items-gap);
  transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
}

.navbar__mobile-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.navbar__logo--light,
.navbar__socials {
  display: none;
}

/* Fix the socials icons to the bottom of the mobile navigation */
.navbar__social {
  height: max-content;
  align-self: flex-end;
}

@media screen and (max-width: 768px) {
  /* Show the light version of the icons (logo / close) */
  .navbar__toggle-icon,
  .navbar__logo--light {
    display: block;
  }

  /* Show the socials container */
  .navbar__socials {
    display: flex;
    gap: var(--navbar-items-gap);
    flex-grow: 1;
  }

  /* Take the full size of the screen */
  .navbar__mobile-wrapper {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    padding: 2.5rem;
    background-color: hsla(229, 31%, 21%, 0.9);
  }

  .navbar__mobile-wrapper--active {
    visibility: visible;
    opacity: 100;
  }

  .navbar__mobile-wrapper,
  .navbar__links {
    flex-direction: column;
    align-items: center;
  }

  .navbar__links {
    gap: 0; /* The gap is replaced by a padding */
    width: 100%;
  }

  /* TODO: Find a better way to change the size and styles of the login button */
  .navbar__mobile-wrapper a {
    text-align: center;
    width: 100%;
    box-shadow: none;
  }
}
